@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: var(--main-bg-color);
    padding: 4px 10px;
    color: white;
    border: 2px solid;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}
.btn:hover{
    font-weight: bolder;
}
.my-1{
    margin: 17px 0;
}
.text-center{
    text-align: center;
}